.subscribeButton {
  width: 260px;
  background: var(--purple-500);
  height: 4rem;
  border-radius: 2rem;

  color: var(--white);
  font-weight: bold;
  transition: filter 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(0.9);
  }
}
